html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000; }
  html .splitter,
  body .splitter {
    width: 100%;
    display: flex;
    height: 40%;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    float: left; }
    html .splitter.spacer,
    body .splitter.spacer {
      height: 20%; }
    html .splitter .eye,
    body .splitter .eye {
      width: 25vmin;
      height: 25vmin;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: eyeload 1s ease;
      background-color: #f00; }
      html .splitter .eye.hid,
      body .splitter .eye.hid {
        opacity: 0;
        visibility: hidden; }
      html .splitter .eye.eye:nth-child(3),
      body .splitter .eye.eye:nth-child(3) {
        transform: scaleX(-1); }
        html .splitter .eye.eye:nth-child(3) .inner,
        body .splitter .eye.eye:nth-child(3) .inner {
          transform: scaleX(-1); }
      html .splitter .eye .lid,
      body .splitter .eye .lid {
        position: absolute;
        left: -2vmin;
        width: 32vmin;
        height: 32vmin;
        animation-name: lid;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        background-image: url(lid.svg);
        background-position: center;
        background-size: cover; }
      html .splitter .eye .inner,
      body .splitter .eye .inner {
        width: 50%;
        height: 50%; }
        html .splitter .eye .inner .pup,
        body .splitter .eye .inner .pup {
          background-color: #000;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          animation-name: pup;
          animation-duration: 20s;
          animation-iteration-count: infinite; }
    html .splitter.mute,
    body .splitter.mute {
      align-items: flex-start; }
      html .splitter.mute .txt,
      body .splitter.mute .txt {
        display: flex;
        font-size: 10vmin;
        position: relative;
        color: #fff;
        font-family: 'Bai Jamjuree', sans-serif;
        white-space: nowrap;
        font-weight: bold;
        animation: txt 6s infinite; }
        html .splitter.mute .txt:before, html .splitter.mute .txt:after,
        body .splitter.mute .txt:before,
        body .splitter.mute .txt:after {
          content: attr(data);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: black; }
        html .splitter.mute .txt:before,
        body .splitter.mute .txt:before {
          left: 4px;
          text-shadow: -2px 0 #0ff;
          animation: glitch2 3s infinite linear alternate-reverse; }
        html .splitter.mute .txt::after,
        body .splitter.mute .txt::after {
          left: -4px;
          text-shadow: -2px 0 #f0f;
          animation: glitch1 2.5s infinite linear alternate-reverse; }

@keyframes eyeload {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lid {
  0% {
    transform: translate(0vmin, 0vmin) rotate(0deg); }
  3% {
    transform: translate(4vmin, -17vmin) rotate(25deg); }
  15% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  30% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  35% {
    transform: translate(4vmin, -14vmin) rotate(25deg); }
  40% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  60% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  65% {
    transform: translate(4vmin, -14vmin) rotate(25deg); }
  99% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  100% {
    transform: translate(0vmin, 0vmin) rotate(0deg); } }

@keyframes pup {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(0, 0); }
  27% {
    transform: translate(3vmin, 0); }
  50% {
    transform: translate(3vmin, 0); }
  52% {
    transform: translate(0, 0); }
  75% {
    transform: translate(0, 0); }
  77% {
    transform: translate(-3vmin, 0); }
  95% {
    transform: translate(-3vmin, 0); }
  96% {
    transform: translate(3vmin, 0); }
  100% {
    transform: translate(3vmin, 0); } }

@keyframes glitch1 {
  4% {
    clip: rect(94px, 9999px, 119px, 0); }
  8% {
    clip: rect(104px, 9999px, 58px, 0); }
  12% {
    clip: rect(21px, 9999px, 44px, 0); }
  16% {
    clip: rect(74px, 9999px, 46px, 0); }
  20% {
    clip: rect(42px, 9999px, 68px, 0); }
  24% {
    clip: rect(9px, 9999px, 30px, 0); }
  28% {
    clip: rect(113px, 9999px, 120px, 0); }
  32% {
    clip: rect(126px, 9999px, 86px, 0); }
  36% {
    clip: rect(91px, 9999px, 95px, 0); }
  40% {
    clip: rect(126px, 9999px, 87px, 0); }
  44% {
    clip: rect(150px, 9999px, 48px, 0); }
  48% {
    clip: rect(107px, 9999px, 79px, 0); }
  52% {
    clip: rect(105px, 9999px, 17px, 0); }
  56% {
    clip: rect(125px, 9999px, 145px, 0); }
  60% {
    clip: rect(95px, 9999px, 137px, 0); }
  64% {
    clip: rect(98px, 9999px, 121px, 0); }
  68% {
    clip: rect(59px, 9999px, 25px, 0); }
  72% {
    clip: rect(86px, 9999px, 74px, 0); }
  76% {
    clip: rect(86px, 9999px, 52px, 0); }
  80% {
    clip: rect(15px, 9999px, 31px, 0); }
  84% {
    clip: rect(48px, 9999px, 27px, 0); }
  88% {
    clip: rect(108px, 9999px, 22px, 0); }
  92% {
    clip: rect(29px, 9999px, 119px, 0); }
  96% {
    clip: rect(117px, 9999px, 101px, 0); } }

@keyframes glitch1 {
  4% {
    clip: rect(20px, 9999px, 31px, 0); }
  8% {
    clip: rect(79px, 9999px, 121px, 0); }
  12% {
    clip: rect(19px, 9999px, 51px, 0); }
  16% {
    clip: rect(5px, 9999px, 34px, 0); }
  20% {
    clip: rect(20px, 9999px, 28px, 0); }
  24% {
    clip: rect(66px, 9999px, 18px, 0); }
  28% {
    clip: rect(106px, 9999px, 51px, 0); }
  32% {
    clip: rect(70px, 9999px, 29px, 0); }
  36% {
    clip: rect(127px, 9999px, 99px, 0); }
  40% {
    clip: rect(17px, 9999px, 20px, 0); }
  44% {
    clip: rect(29px, 9999px, 37px, 0); }
  48% {
    clip: rect(110px, 9999px, 33px, 0); }
  52% {
    clip: rect(72px, 9999px, 58px, 0); }
  56% {
    clip: rect(58px, 9999px, 85px, 0); }
  60% {
    clip: rect(25px, 9999px, 74px, 0); }
  64% {
    clip: rect(78px, 9999px, 54px, 0); }
  68% {
    clip: rect(115px, 9999px, 20px, 0); }
  72% {
    clip: rect(132px, 9999px, 73px, 0); }
  76% {
    clip: rect(137px, 9999px, 81px, 0); }
  80% {
    clip: rect(4px, 9999px, 138px, 0); }
  84% {
    clip: rect(46px, 9999px, 40px, 0); }
  88% {
    clip: rect(82px, 9999px, 110px, 0); }
  92% {
    clip: rect(123px, 9999px, 54px, 0); }
  96% {
    clip: rect(12px, 9999px, 112px, 0); } }

@keyframes txt {
  4% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  8% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  12% {
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase; }
  16% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  20% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  24% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  28% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  32% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  36% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  40% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  44% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  48% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  52% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  56% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  60% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  64% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  68% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  72% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  76% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  80% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  84% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  88% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  92% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  96% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; } }